body {
    font-family: Arial, sans-serif;
    background-color: #2f4f7f; /* Dark blue background */
    color: #ffffff; /* White text */
  }
  
  header {
    background-color: #1a1d23; /* Darker blue background */
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
    color: #ffffff; /* White text */
  }
  
  main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border: 1px solid #dddddd; /* Light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light gray shadow */
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
    color: #333333; /* Dark gray text */
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333333; /* Dark gray text */
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc; /* Light gray border */
    border-radius: 5px;
    color: #333333; /* Dark gray text */
  }
  
  button {
    background-color: #1a1d23; /* Darker blue background */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2f4f7f; /* Dark blue background */
  }
  
  .edit-button {
    background-color: #1a1d23;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #2f4f7f;
  }
  
  .search-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .search-button {
    background-color: #1a1d23;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #2f4f7f;
  }
  
  #incompleteBookList, #completeBookList {
    margin-bottom: 20px;
  }
  
  .bookItem {
    background-color: #f7f7f7; /* Light gray background */
    padding: 20px;
    border: 1px solid #dddddd; /* Light gray border */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .bookItem h3 {
    font-size: 18px;
    margin-top: 0;
    color: #333333; /* Dark gray text */
  }
  
  .bookItem p {
    margin-bottom: 10px;
    color: #666666; /* Medium gray text */
  }
  
  #incompleteBookList div, #completeBookList div {
    background-color: #ffffff; /* White background */
    padding: 20px;
    border: 1px solid #dddddd; /* Light gray border */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #incompleteBookList div h3, #completeBookList div h3 {
    font-size: 18px;
    margin-top: 0;
    color: #333333; /* Dark gray text */
  }
  
  #incompleteBookList div p, #completeBookList div p {
    margin-bottom: 10px;
    color: #666666; /* Medium gray text */
  }